/* Small devices (phones, 576px and up) */
@media (min-width: 576px) { 
  /* Navigation */
  .logo {
    font-size: 1.5rem;
  }
  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
  nav li {
    margin-left: 1rem;
  }
  nav a {
    font-size: 1rem;
  }
  /* Content */
  .content {
    flex-direction: row-reverse;
  }
  .content img {
    max-width: 40%;
    height: auto;
  }
  .info form {
    flex-direction: row;
  }
  input[type="email"] {
    width: 60%;
  }
  input[type="submit"] {
    width: 35%;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  /* Navigation */
  .logo {
    font-size: 2rem;
  }
  nav li {
    margin-left: 2rem;
  }
  nav a {
    font-size: 1.2rem;
  }
  /* Content */
  .content img {
    max-width: 30%;
  }
  .info form {
    margin-top: 2rem;
  }
  input[type="email"] {
    width: 50%;
  }
  input[type="submit"] {
    width: 25%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  /* Navigation */
  .logo {
    font-size: 3rem;
  }
  nav li {
    margin-left: 3rem;
  }
  nav a {
    font-size: 1.5rem;
  }
  /* Content */
  .content {
    flex-direction: row;
  }
  .content img {
    max-width: 50%;
  }
  .info form {
    margin-top: 0;
  }
  input[type="email"] {
    width: 40%;
  }
  input[type="submit"] {
    width: 20%;
  }
}

*{
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	box-sizing: border-box;
}
.hero{
	height: 100vh;
	width: 100%;
	background-color: black;
	background-size: cover;
	background-position: center;

}
nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 45px;
	padding-left: 8%;
	padding-right: 8%;

}
.logo{
	color: #ff0000;
	font-size: 30px;

}
nav ul li{
	list-style-type: none;
	display: inline-block;
	padding: 20px 40px;

}
nav ul li a{
	color: white;
	text-decoration: none;
	font-weight: bold;
}
nav ul li a:hover{
	color: #ff0000;
	transition: .3s;
}
.content{
	color: #ff0000;
	position: absolute;
	top: 50%;
	left: 10%;
	padding-top: 5px;
	display: inline-block;
	height: 600px;
}

span {
	color: white;
}
.top img{
	width: 400px;
	height: 400px;
	border-radius: 5px;
	

}
.about{
	width:550px;
	color: #ff0000;
	letter-spacing: 1px;
	margin-bottom: 25px;

}
.about p{
	color: white;

}
.top{
	padding: 50px ;
	background-color: black;
}
.main{
	width: 1100px;
	display: flex;
	justify-content: space-between;
	align-items: center;

}
.skill{
	background: black;
	width: 100%;
	padding: 100px 0px;
}
.title h2{
	color: white;
	font-size: 75px;
	width: 1130px;
	text-align: center;
	margin: 30px auto;
}
.box{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 200px;
	
}
.card{
	height: 365px;
	width: 335px;
	padding: 20px 0px;
	background: black;
    position: relative;
    overflow: hidden;
    display: inline-block; 
}
.card i{
	font-size: 50px;
	display: block;
	text-align: center;
	margin: 25px 0px;
	color: white;


}
h5{
	color: white;
	font-size: 23px;
	margin-bottom: 15px;
}
.par p{
	color: black;
	font-size: 16px;
	line-height: 15px;
	margin-bottom: 15px;
}
.card .button{
	background-color: grey;
	color: black;
	text-decoration: none;
	border: 2px solid;
	font-weight: bold;
	padding: 9px 22px;
	border-radius: 30px;
	transition: .4s;
}
.card .button.hover{
	background-color: transparent;
	border: 2px solid;
	cursor: pointer;
}
#education {
  background-color: black;
  padding: 80px 0;
}
#education .education h2{
	color: white;
}
#education .edu-container{
	display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#education .edu-item {
  flex-basis: calc(33.33% - 40px);
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}
#education .edu-item h3 {
  margin-top: 0;
  font-size: 24px;
  font-weight: bold;
  color: ;
}
#education .edu-item p {
  margin-bottom: 0;
  line-height: 1.5;
  font-size: 16px;
  color: #777;
}
#education .edu-item .year {
  font-weight: bold;
  font-size: 18px;
  color: #555;
}
#contact {
  background-color: black;
  padding: 50px;
  text-align: center;
}

#contact h2 {
  font-size: 32px;
  margin-bottom: 20px;
  color: white;
}

#contact form {
  display: inline-block;
  text-align: left;
}

#contact label {
  display: block;
  margin-bottom: 5px;
  color: white;
}

#contact input,
#contact textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
}

#contact button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

#contact button:hover {
  background-color: #3e8e41;
}
footer{
	position: relative;
	width: 100%;
	height: 400px;
	background: black;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

}
footer p:nth-child(1){
	font-size: 30px;
	color: white;
	margin-bottom: 20px;
	font-weight: bold;


}
footer p:nth-child(2){
	color: white;
	font-size: 17px;
	width: 500px;
	text-align: center;
	line-height: 26px;
}
.social{
	display: flex;
}
.social a{
	width: 45px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: grey;
	border-radius: 50%;
	margin: 22px 10px;
	color: white;
	text-decoration: none;
	font-size: 20px;
} 
.social a:hover{
	transform: scale(1.3);
	transition: .3s;
}
.end{
	position: absolute;
	color: white;
	bottom: 35px;
	font-size: 14px;
}

